{% load distro_tracker_extras %}

<div class="panel package-table">
  <div class="panel-heading">
    {{table.title}} ({{table.number_of_packages}})
    {% octicon 'chevron-up' 'hide table' %}
  </div>
  <div class="panel-body">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          {% for name in table.column_names %}
            <th class='center' scope="col">{{name}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% with rows=table.rows %}
          {% for row in rows %}
	  {{ row }}
          {% endfor %}
        {% endwith %}
      </tbody>
    </table>
  </div>
  {% if show_link %}
  <div class="text-xs-center panel-footer">
    <a class="view-more-link" href="{{ table.relative_url }}"><b>View More</b></a>
  </div>
  {% endif %}
</div>
